@using AirPlane.WebUI.Models.ControllersAndActions
@model ControllerData
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PropertiesList</title>
</head>
<body>
    <div> 
        @Model.clientIP
        @Model.dateStamp
        @Model.serverName
        @Model.userName
    </div>
</body>
</html>
