
@{
    ViewBag.Title = "JQuery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/JQueryGuide.js"></script>
<style>
    .classA {
        background-color:palevioletred
    }
    .classB{
        color:blue
    }
      .classC{
         font: 15px arial, sans-serif;
    }
</style>
<h2>JQuery</h2>
<h3>Attributes</h3>
<div id="attributes">
    <p>Add class</p>
    <p align="left" >attr</p>
    <p>hasClass</p>
    <p><b> html  </b></p>
    <p>prop</p>
    <p>removeAttr/Class/Prop</p>
    <p>toggleClass</p>
    <p>val</p>

    <div id="resultAttr" class="classA">Result:</div>
</div>

<input type="checkbox" checked="checked"  />
<input type="text" value="valueText" />

<h3>Callbacks</h3>
<div id="callbacks">
    <p>callbacks.add()</p>
    <p>callbacks.disable()</p>
    <p>callbacks.disabled()</p>
    <p>callbacks.empty()</p>
    <p>callbacks.fire()</p>
    <p>callbacks.fired()</p>
    <p>callbacks.fireWith()</p>
    <p>callbacks.has()</p>
    <p>callbacks.lock()</p>
    <p>callbacks.locked()</p>
    <p>callbacks.remove()</p>
    <p>jQuery.Callbacks() - //todo</p>
    <div id="result" class="classA">Result:</div>
</div>
<h3>Core</h3>
<div id="core">
    <p>jQuery()</p>
    <p>jQuery.holdReady()</p>
    <p>jQuery.noConflict()</p>
    <p>jQuery.ready</p>
    <p>jQuery.readyException()</p>
    <p>jQuery.sub()</p>
    <p>jQuery.when()</p>

    
    <div id="resultCore" class="classA">Result:</div>
</div>
<h3>AJAX</h3>
<div id="ajax">
    <p>jQuery.ajax()</p>

    <div id="resultAjax" class="classA">Result:</div>
</div>
