
@{
    ViewBag.Title = "JQuery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/JQueryGuide.js"></script>
<style>
    .classA {
        background-color:azure
    }
    .classB{
        color:blue
    }
      .classC{
         font: 15px arial, sans-serif;
    }
</style>
<h2>JQuery</h2>
<h3>Attributes</h3>
<div>
    <p>Add class</p>
    <p align="left" >attr</p>
    <p>hasClass</p>
    <p><b> html  </b></p>
    <p>prop</p>
    <p>removeAttr</p>
    <p>removeClass</p>
    <p>removeProp</p>
    <p>toggleClass</p>
    <p>val</p>
</div>

<input type="checkbox" checked="checked" />
